{% extends 'base.html' %} {% block title %}Boggle game{% endblock %} {% block
content %}

<!-- keep track of game statistics -->
<div id="game-count">Game count: {{game_count}}</div>
<div id="high-score">High Score: {{high_score}}</div>

<!-- render boggle board -->
<table id="board">
  {% for row in board %}
  <tr class="row">
    {% for col in row %}
    <td class="letter">{{col}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<form>
  <!-- listen for enter key or check word button press -->
  <!-- form to guess words -->
  <!-- see fruit search project to suppress default behavior -->
  <input type="text" name="word" />
  <button>Check word</button>
</form>
<form action="/new-game" method="POST">
  <button>New Game</button>
</form>
{% endblock %}
