<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>Let's play boggle</h1>
    {% block content %}BODY CONTENT GOES HERE{% endblock %}
  </body>

  <script src="http://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
  <script src="/static/boggle.js"></script>
  <script src="/static/script.js"></script>
  <script>
    let game = new BoggleGame("boggle", 60);
  </script>
</html>
